* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
img {
  width: 100%;
}
.App {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
}
.left-side {
  display: grid;
  align-content: flex-start;
  margin-top: 3rem;
  gap: 0.2rem;
}
.left-side ul {
  list-style: none;
  display: grid;
  gap: 2rem;
  overflow: scroll;
  height: 600px;
}
.left-side img {
  border-radius: 1rem;
  width: 250px;
}

.quotes-list {
  display: grid;
  width: 700px;
  height: 600px;
  overflow: scroll;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #22c5a7;
  list-style-type: upper-greek;
  box-shadow: 0 0 8px 10px #88888871;
  gap: 3rem;
  margin-top: 1rem;
}
.quotes-list__item {
  color: rgb(0, 0, 0);
}
.quotes-list__item figcaption {
  text-align: right;
  color: white;
  font-style: italic;
}
@media only screen and (max-width: 1000px) {
  .App {
    grid-template-columns: unset;
    grid-auto-flow: row;
  }
  .right-side {
    display: grid;
    place-items: center;
  }
  .quotes-list {
    width: 300px;
    display: grid;
    place-items: center;
  }
}
